pipeline {
  parameters {
    string(defaultValue: "", description: 'Cucumber Tag', name: 'CUCUMBER_TAG')
  }
  agent { label 'java-app' }
  stages {
    stage('Test') {

      steps {
     container('maven') {
        sh "mvn test"
        }
      }
    }
  }
}
